<!-- Шаблон главной страницы  -->
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>The Expendables</title>
<!-- Используются каскадные таблицы от Bootstrap -->
<link href="/css/bootstrap.css" rel="stylesheet"/>

</head>
<!--Главное меню сайта -->
<body style="background-color: #eeeeee">
<h1 align="center">WELCOME TO THE_EXPENDABLES HIGH SCHOOL</h1>
<div  class="container">
	<div class="jumbotron">
		<div class="row">
			<!-- Кнопка на страницу с выводом списка студентов -->
			<div class="col-md-4">
			<form action="/getall">
			<button type="submit"  class="btn btn-primary"><h3>Список студентов</h3></button>
			</form >
			</div>
			
			<!-- Кнопка на страницу с формой для добавления нового студента -->
			<div class="col-md-4">
			<form action="/add">
			<button type="submit" class="btn  btn-large-green "><h3>Добавить студента</h3></button>
			</form >
			</div>
			
			<!-- Кнопка на страницу удаления студента -->
			<div class="col-md-4">
			<form action="/toremove">
			<button type="submit" class="btn  btn-large-red"><h3>Удалить студента</h3></button>
			</form>
			</div>
		</div>
    </div>
</div>
</body>
</html>	

		
		